In [1]:
import pathlib
import pandas as pd

In [2]:
path = pathlib.Path().resolve()

In [3]:
df = pd.DataFrame()

In [4]:
chunks = pd.read_csv(path / "ignored-data" / "vehicles_2022" /"2019-21_data_compiled_zipcitymatched.csv" , chunksize = 1000)

In [5]:
i = 0

for chunk in chunks:
    if i < 100:
        df = pd.concat([df, chunk])
        print(i)
        i +=1
    else:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [32]:
df.columns

Index(['Unnamed: 0', 'index', 'record_from', 'UID', 'name', 'street', 'city',
       'state', 'zip', 'vehicle_year', 'vehicle_make', 'vehicle_model',
       'vehicle_class', 'vehicle_id', 'lease_city', 'lease_state',
       'lease_street', 'lease_zip', 'city_list', 'zip_list', 'city_matched',
       'zip_matched', 'valid_city', 'valid_zip', 'rep', 'lease_city_list',
       'lease_zip_list', 'lease_city_matched', 'lease_zip_matched',
       'lease_valid_city', 'lease_valid_zip', 'lease_rep', 'data_year'],
      dtype='object')

In [39]:
len(df)

100000

In [6]:
df.head()

,Unnamed: 0,index,record_from,UID,name,street,city,state,zip,vehicle_year,...,valid_zip,rep,lease_city_list,lease_zip_list,lease_city_matched,lease_zip_matched,lease_valid_city,lease_valid_zip,lease_rep,data_year
0,0,0,2_Ansonia_MVData_2019.csv,19_0000001,445 Beaver Brook Llc,27 Ivy Cir Ofc B,West Haven,CT,5743.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019
1,1,1,2_Ansonia_MVData_2019.csv,19_0000002,A & S Nathan Heating & Cooling Llc,34 Clifton Ave,Ansonia,CT,6401.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019
2,2,2,2_Ansonia_MVData_2019.csv,19_0000003,A & S Nathan Heating & Cooling Llc,34 Clifton Ave,Ansonia,CT,6401.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019
3,3,3,2_Ansonia_MVData_2019.csv,19_0000004,A & S Nathan Heating & Cooling Llc,34 Clifton Ave,Ansonia,CT,6401.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019
4,4,4,2_Ansonia_MVData_2019.csv,19_0000005,A & S Nathan Heating & Cooling Llc,34 Clifton Ave,Ansonia,CT,6401.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019

In [9]:
df[df["vehicle_model"].isna()]

,Unnamed: 0,index,record_from,UID,name,street,city,state,zip,vehicle_year,...,valid_zip,rep,lease_city_list,lease_zip_list,lease_city_matched,lease_zip_matched,lease_valid_city,lease_valid_zip,lease_rep,data_year
2611,2611,2611,2_Ansonia_MVData_2019.csv,19_0002612,Coastal Carriers Of Connecticut Llc.,14 Riverside Dr,Ansonia,CT,6401.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019
2612,2612,2612,2_Ansonia_MVData_2019.csv,19_0002613,Coastal Carriers Of Connecticut Llc.,14 Riverside Dr,Ansonia,CT,6401.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019
2614,2614,2614,2_Ansonia_MVData_2019.csv,19_0002615,Coastal Carriers Of Connecticut Llc.,14 Riverside Dr,Ansonia,CT,6401.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019
2615,2615,2615,2_Ansonia_MVData_2019.csv,19_0002616,Coastal Carriers Of Connecticut Llc.,14 Riverside Dr,Ansonia,CT,6401.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019
2616,2616,2616,2_Ansonia_MVData_2019.csv,19_0002617,Coastal Carriers Of Connecticut Llc.,14 Riverside Dr,Ansonia,CT,6401.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98791,98791,98791,14_Branford_MVData_2019.csv,19_0098792,Masseys Plate Glass And Aluminum Inc,Po Box 804,Branford,CT,6405.0,NaN,...,False,2,NaN,06405|32008,False,False,True,True,1,2019
98792,98792,98792,14_Branford_MVData_2019.csv,19_0098793,Masseys Plate Glass And Aluminum Inc,Po Box 804,Branford,CT,6405.0,NaN,...,False,2,NaN,06405|32008,False,False,True,True,1,2019
98924,98924,98924,14_Branford_MVData_2019.csv,19_0098925,May Dennis P,21 Riverwalk,Branford,CT,6405.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019
99286,99286,99286,14_Branford_MVData_2019.csv,19_0099287,Mcnally James T,Po Box 764,Branford,CT,6405.0,NaN,...,False,2,NaN,06405|32008,False,False,True,True,1,2019
99577,99577,99577,14_Branford_MVData_2019.csv,19_0099578,Mierz Stephen J,88 Sawmill Rd,Branford,CT,6405.0,NaN,...,False,2,NaN,NaN,False,False,True,True,1,2019

In [8]:
len(df[~df["vehicle_model"].isna()])

99539

In [11]:
df[~df["vehicle_id"].isna()]["vehicle_model"]

0        F250 SUP
1        ECONOLIN
2        NV 2500/
3        F250 SUP
4        NV2500S/
           ...
99995    TRAILBLA
99996      RX 330
99997      RX 350
99998    FORESTER
99999    DAKOTA S
Name: vehicle_model, Length: 80357, dtype: object