# Set-up

## Install required packages

In [ ]:
!pip install geopandas
!pip install Shapely

In [2]:
# CSV management
import pandas as pd

# Downloads and path management
import requests
import pathlib
import os

# Geographic analysis
import geopandas as gpd
from geopandas import GeoDataFrame
from shapely.geometry import Point, Polygon
from shapely.geometry import MultiPolygon
from shapely.geometry import MultiLineString
from shapely.ops import split

# Plotting
import matplotlib.pyplot as plt
from matplotlib import colors
from mpl_toolkits.axes_grid1 import make_axes_locatable

# Numerical
import numpy as np

## Set filepaths

In [4]:
path = pathlib.Path().resolve()
INPUT_FILEPATH = path / "data"
OUTPUT_FILEPATH = path / "data" / "outputs"

# Prepare AFDC Data

## Download AFDC Data

In [4]:
api_key = "SEieCj3uYQ3ufDsCqFWAfw56GvXKyLr1YTt9K4Sv"
base_url = "https://developer.nrel.gov/api/alt-fuel-stations/v1"
download_format = "csv"
state = "CT"
fuel_type = "ELEC"

In [5]:
download_URL = base_url + "." + download_format + "?" + "api_key=" + api_key + "&" + "state=" + state + "&" + "fuel_type=" + fuel_type

In [9]:
# Download
data_df = pd.read_csv(download_URL)

In [10]:
# Save
data_df.to_csv(OUTPUT_FILEPATH /"afdc_ct_charging_points.csv")

In [30]:
# Load
data_df = pd.read_csv(OUTPUT_FILEPATH /"afdc_ct_charging_points.csv")

## Convert AFDC Data to GeoDataFrame

In [31]:
# geometry column must contain Point objects
geometry = [Point(x,y) for y,x in zip(data_df["Latitude"],data_df["Longitude"])]

In [33]:
# Create a new GeoDataFrame, set its geometry column
data_df_geo = data_df.copy()
data_df_geo["geometry"] = geometry

# Drop latitude and longitude, now superfluous columns
data_df_geo.drop(["Latitude","Longitude"], axis=1)

,Unnamed: 0,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,...,Restricted Access,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,geometry
0,0,ELEC,Whole Foods Market,350 Grasmere Ave,NaN,Fairfield,CT,6824,NaN,203-319-9544,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,POINT (-73.240315 41.157925)
1,1,ELEC,Propark America - Omni Hotel Chapel Square Garage,155 Temple St,Located on first floor of garage,New Haven,CT,6510,NaN,203-781-8030,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-72.927405 41.305794)
2,2,ELEC,New London Parking Authority - Water Street Pu...,161 Water St,Located outside off entrance from Water St and...,New London,CT,6320,NaN,860-443-1775,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,POINT (-72.093784 41.355486)
3,3,ELEC,Town of Westport - Westport Metro North,1 Railroad Pl,Eastbound Westport Saugatuck Train Station,Westport,CT,6880,NaN,203-341-1000,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-73.369266 41.119291)
4,4,ELEC,Park 'N Fly - Bradley International Airport,1186 South St,NaN,Suffield,CT,6078,NaN,800-218-1297,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,POINT (-72.663078 41.951328)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,797,ELEC,The Residence at Westport,1141 Post Road East,NaN,Westport,CT,6880,NaN,888-998-2546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-73.3249555 41.1393568)
798,798,ELEC,Pierpont at City Crossing,9 Tower Lane,NaN,New Haven,CT,6519,NaN,888-998-2546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-72.928985 41.3004413)
799,799,ELEC,STEPHEN TOYOTA FRONT CT4000,1097 Farmington Ave,NaN,Bristol,CT,6010,NaN,888-758-4389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-72.908117 41.696544)
800,800,ELEC,Sunoco,884 State St,NaN,New Haven,CT,6511,NaN,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,POINT (-72.91262 41.31404)
801,801,ELEC,Mystic Marriott Hotel & Spa,625 North Road (Route 117),NaN,Groton,CT,6340,NaN,833-387-2643,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-72.025914 41.36512)

In [101]:
# Create the GeoDataFrame
data_df_geo = GeoDataFrame(data_df_geo,crs = "WGS84", geometry=geometry)

## Save and Load AFDC Data GeoDataFrame

In [34]:
# Save the geodataframe
data_df_geo.to_file(OUTPUT_FILEPATH / "afdc_ct_charging_points.gpkg")

# Load the dataframe
data_df_geo = gpd.read_file(OUTPUT_FILEPATH / "afdc_ct_charging_points.gpkg")

# Prepare Geographic Boundaries

## Prepare Connecticut State Boundaries

In [216]:
# Load all US States
us_gdf = gpd.read_file(INPUT_FILEPATH / "us_state_shapefiles")

In [217]:
# Restrict to CT
ct_gdf = us_gdf[us_gdf["NAME"] == "Connecticut"]

In [218]:
# Reset the index
ct_gdf = ct_gdf.reset_index()

In [219]:
ct_gdf = ct_gdf.drop('index', axis =1)

## Save CT state boundaries

In [249]:
ct_gdf.to_file(OUTPUT_FILEPATH / "ct_boundaries.gpkg")

## Prepare CT subcounty boundaries

In [235]:
# Import shapefile of CT counties
# Source: https://catalog.data.gov/dataset/tiger-line-shapefile-2019-state-connecticut-current-county-subdivision-state-based
counties_shapefile = gpd.read_file(INPUT_FILEPATH / "ct_counties_shapefile")

# Make it the same CRS
counties_shapefile = counties_shapefile.to_crs(ct_gdf.crs)

In [236]:
counties_shapefile.head()

,STATEFP,COUNTYFP,COUSUBFP,COUSUBNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CNECTAFP,NECTAFP,NCTADVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,09,005,60750,00213489,0900560750,Plymouth,Plymouth town,43,T1,G4040,790,73450,NaN,A,56650624,1199855,+41.6663915,-073.0265164,"POLYGON ((-73.06467 41.64182, -73.06439 41.643..."
1,09,001,00000,00000000,0900100000,County subdivisions not defined,County subdivisions not defined,00,Z9,G4040,NaN,NaN,NaN,F,0,302385073,+41.0779471,-073.2165184,"POLYGON ((-73.45646 40.99116, -73.45646 41.013..."
2,09,001,56060,00213481,0900156060,Norwalk,Norwalk town,43,T5,G4040,720,71950,NaN,C,59275235,34928558,+41.0927388,-073.4197955,"POLYGON ((-73.47456 41.11470, -73.47441 41.114..."
3,09,001,04720,00213390,0900104720,Bethel,Bethel town,43,T1,G4040,720,72850,NaN,A,43918201,156161,+41.3697777,-073.3895032,"POLYGON ((-73.43502 41.37240, -73.43457 41.373..."
4,09,001,08070,00213396,0900108070,Bridgeport,Bridgeport town,43,T5,G4040,720,71950,NaN,C,41606698,8705768,+41.1873933,-073.1957567,"POLYGON ((-73.24409 41.22660, -73.24340 41.226..."

## Save subcounty boundaries

In [248]:
counties_shapefile.to_file(OUTPUT_FILEPATH / "ct_subcounties.gpkg")

In [9]:
counties_shapefile = gpd.read_file(OUTPUT_FILEPATH / "ct_subcounties.gpkg")

## Prepare CT ZIP boundaries

Second, import ZIP shapefile

In [226]:
us_zips = gpd.read_file(INPUT_FILEPATH / "us_zips")

In [231]:
ct_zips = us_zips[us_zips["ZCTA5CE20"].astype(str).str[0:2]=="06"]

In [237]:
ct_zips = ct_zips.to_crs(ct_gdf.crs)

## Save CT ZIP boundaries

In [246]:
ct_zips.to_file(OUTPUT_FILEPATH / "ct_zips.gpkg")

# Prepare Routes

## Import route data

In [21]:
# Add state routes
# Source: https://geodata.ct.gov/maps/5e334f57a37f4eaa970b0ee5a52624d0/about
state_routes = gpd.read_file(INPUT_FILEPATH / "CTDOT_State_Routes_and_Local_Roads.geojson")

# Source: https://geodata.ct.gov/maps/5e334f57a37f4eaa970b0ee5a52624d0/about
local_roads = gpd.read_file(INPUT_FILEPATH / "CTDOT_State_Routes_and_Local_Roads_LOCAL")

# Source: https://geodata.ct.gov/datasets/b878865b7c4e4d858fbddf92ed4e1c28_0/explore
interstates = gpd.read_file(INPUT_FILEPATH / "Connecticut_Routes.geojson")

# Remove state routes for duplication
interstates = interstates[interstates["ROUTECLASS"]!="State Route"]

# Ramps
# Source: https://connecticut-ctdot.opendata.arcgis.com/apps/76c04dd1fb5b4933a0aefa12c632457c/explore
ramps = gpd.read_file(INPUT_FILEPATH / "ramps.geojson")

## Reproject route data

In [38]:
# Reproject to use the same coordinate system
state_routes= state_routes.to_crs(ct_gdf.crs)
local_roads = local_roads.to_crs(ct_gdf.crs)
interstates = interstates.to_crs(ct_gdf.crs)
ramps = ramps.to_crs(ct_gdf.crs)

## Save the route data

In [247]:
state_routes.to_file(OUTPUT_FILEPATH / "state_routes.gpkg")
local_roads.to_file(OUTPUT_FILEPATH / "local_roads.gpkg")
interstates.to_file(OUTPUT_FILEPATH / "interstates.gpkg")
ramps.to_file(OUTPUT_FILEPATH / "ramps.gpkg")

# Merge Demographic Data

In [11]:
# Now join the census data to the counties
census_data_s1901 = pd.read_csv(INPUT_FILEPATH/ "S1901_CT.csv")

# Convert the shapefile countyfp to numeric
counties_shapefile["COUNTYFP"] = pd.to_numeric(counties_shapefile["COUNTYFP"])

# Join the data
ct_counties_joined = counties_shapefile.merge(census_data_s1901, left_on = "COUNTYFP", right_on = "county")

## Save merged demographic data

In [14]:
ct_counties_joined.to_file(OUTPUT_FILEPATH / "ct_subcounties_income_merged.gpkg")