In [10]:
# Manage paths
import pathlib
import os

# Dataframes
import pandas as pd
from datetime import datetime
import geopandas as gpd
from itertools import combinations

# Maths
import numpy as np

# Progress
# from tqdm import tqdm

# Plotting
import matplotlib.pyplot as plt

# Warnings
import warnings
warnings.filterwarnings("ignore")

# MADE TO RUN ON RAJA'S MACBOOK PRO 
input_path = pathlib.Path().resolve().parent.parent/"Dropbox/DOT_Tobin_Collaboration/data/to_upload_myapps"

In [13]:
input_data = pd.read_csv(input_path / "routes_to_generate.csv", index_col = [0])

In [16]:
input_data.loc[:,"CBG_fixed"] = input_data.loc[:,"CBG"].astype(str).str.zfill(12)

In [53]:
# Generate big list
lst = []

for col in ["iteration_1", "iteration_2", "iteration_3", "iteration_4"]:
    subset = input_data.loc[input_data[col]==1, ["CBG_fixed"]].reset_index(drop=True)
    subset_len = len(subset)

    # Start
    for index0, row0 in subset.iterrows():
        # Set when to stop, to get diagonal
        max_iter = index0 + 1 

        for index1, row1 in subset.iterrows():
            if index1 < max_iter:
                lst.append([row0["CBG_fixed"]+" - "+row1["CBG_fixed"], col, "keep"])
            else:
                lst.append([row0["CBG_fixed"]+" - "+row1["CBG_fixed"], col, "drop"])

In [73]:
output = pd.DataFrame(lst, columns = ["route", "iter", "type"])
output.loc[output["iter"]=="iteration_1"].to_csv(input_path / "route_to_gen_iter1.csv")

                              route         iter  type
0       090010101011 - 090010101011  iteration_1  keep
750     090010101012 - 090010101011  iteration_1  keep
751     090010101012 - 090010101012  iteration_1  keep
1500    090010101013 - 090010101011  iteration_1  keep
1501    090010101013 - 090010101012  iteration_1  keep
...                             ...          ...   ...
562495  090034164001 - 090034162003  iteration_1  keep
562496  090034164001 - 090034163001  iteration_1  keep
562497  090034164001 - 090034163002  iteration_1  keep
562498  090034164001 - 090034163003  iteration_1  keep
562499  090034164001 - 090034164001  iteration_1  keep

[281625 rows x 3 columns]

In [52]:
output.loc[output["iter"]=="iteration_1"].tail(750).head(2)

                              route         iter  type
561750  090034164001 - 090010101011  iteration_1  keep
561751  090034164001 - 090010101012  iteration_1  keep